# ============================================================
# SQL Server
# ============================================================
MSSQL_SA_PASSWORD=Your_password123

# ============================================================
# RabbitMQ
# ============================================================
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# ============================================================
# Seq
# ============================================================
SEQ_FIRSTRUN_NOAUTHENTICATION=true

API_URL=http://localhost:5000