############################################################
# Dependencies
############################################################

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################################
# Angular
############################################################

.angular
dist
coverage

############################################################
# IDE
############################################################

.vscode
.idea

############################################################
# Git
############################################################

.git
.github

############################################################
# Docker
############################################################

Dockerfile*
docker-compose*.yml

############################################################
# Documentation
############################################################

README.md
CHANGELOG.md
LICENSE

############################################################
# Environment
############################################################

.env
.env.*

############################################################
# OS
############################################################

.DS_Store
Thumbs.db

############################################################
# Tests
############################################################

*.spec.ts

############################################################
# Temporary files
############################################################

*.log
*.tmp
*.cache
*.code-workspace